%p#notice= notice

%p
  %b Название
%p
  = @pump_category.title
%p
  %b Назначение
%p
  = @pump_category.appointment
%p
  %b Варианты изготовления
%p
  = @pump_category.manufacturing_options
%p
  %b Условия эксплуатации
%p
  = @pump_category.operating_conditions
%p
  %b Максимальная температура перегоняемого вещества(цельсий)
%p
  = @pump_category.max_temp_material
%p
  %b Прилагаемая фотография
%p
  = image_tag(@pump_category.photo(:medium))
%p
  %b Перегоняемый материал :
  = @pump_category.type_material.name


= link_to 'Редактировать', edit_admin_pumps_category_path(@pump_category), :class=>'btn btn-default'
\|
= link_to 'Назад', admin_pumps_categories_path, :class=>'btn btn-default'
