-# Поисковый блок
-# Поисковая строка
.row
  .col-md-12
    .col-md-3.col-lg-3
    .col-md-6.col-lg-6
      .col-md-12
        .col-md-10
          .form-group
            %label= ''
            %input{:id=>'search_input', :placeholder=>'Введите запрос', :class=>'form-control'}
        .col-md-2
          .form-group
            %label= ''
            %a.btn.btn-default.btn-success.form-control{:href=>'#', :id=>'search_button', :style=>'color:white;'}
              %i.fa.fa-fw.fa-search
    .col-md-3.col-lg-3
-# Кнопки "искать по"
%input{:id=>'type_search', :value=>'pumps', :style=>'display:none'}
.row
  .col-md-12
    .col-md-3.col-lg-3
    .col-md-6.col-lg-6
      .col-md-12
        .col-md-10
          .form-group
            .col-md-2.col-sm-2.btn.btn-success.sys-btn-category{:value=>'pumps'}
              %b= 'по насосам'
            .col-md-2.col-sm-2.btn.btn-success.sys-btn-category{:value=>'pumps_category'}
              %b= 'по категориям'
            .col-md-2.col-sm-2.btn.btn-success.sys-btn-category{:value=>'type_material'}
              %b= 'по веществу'
        .col-md-2
    .col-md-3.col-lg-3
