= render 'header_info'
= render 'navigation'
= render 'search'
= render 'result'


.row
  .col-md-12.col-sm-12
    .col-md-3
    .col-md-6

      %h1 Список категорий насосов
      %table.table.table-bordered
        %tr{:style=>'border-color:black;'}
          %th{:style=>'border-color:black;'} Маркировка
          %th{:style=>'border-color:black;'} Подача
          %th{:style=>'border-color:black;'} Категория
          %th{:style=>'border-color:black;'} Напор
          %th{:style=>'border-color:black;'} Двигатель
          %th{:style=>'border-color:black;'} Макс. температура
          %th{:style=>'border-color:black;'}

        - @pumps.each do |pump|
          %tr{:style=>'border-color:black;'}
            %td{:style=>'border-color:black;'}= pump.mark
            %td{:style=>'border-color:black;'}= pump.supply
            %td{:style=>'border-color:black;'}= pump.pumps_category.title
            %td{:style=>'border-color:black;'}= pump.push
            %td{:style=>'border-color:black;'}= pump.engine
            %td{:style=>'border-color:black;'}= pump.max_temp_material
            %td{:style=>'border-color:black;'}
              %a{:href=>"/pumps/#{pump.id}"} Просмотреть

    .col-md-3


= render 'categories'
= render 'description'
= render 'footer'
